#root {
  max-width: 1280px;
  margin: 0 auto; 
  padding: 2rem;
  text-align: center;
}
.custome-focused {
  color: black;
  
}

@media only screen and (min-width: 374px) and (max-width: 425px) {
  .responsiveness{
    padding-left: 50px;
  }
}
@media only screen and (min-width: 319px) and (max-width: 375px) {
  .responsiveness{
    padding-left: 30px;
  }
}
@media only screen and (max-width: 320px) {
  .responsiveness{
    padding-left: 0px;
    
  }
}