#root {
  max-width: 1280px;
  margin: 0 auto; 
  padding: 18rem;
  text-align: center;
}
.custome-focused {
  color: black;
  
}

.logo {
  width: 282px;
  height: 91px;
  position: absolute; /* or 'fixed' if you want it to stay in place on scroll */
  top: 0;
  left: 0;
}


@media only screen and (min-width: 374px) and (max-width: 425px) {
  .responsiveness{
    padding-left: 50px;
  }
}
@media only screen and (min-width: 319px) and (max-width: 375px) {
  .responsiveness{
    padding-left: 30px;
  }
}
@media only screen and (max-width: 320px) {
  .responsiveness{
    padding-left: 0px;
    
  }
}